In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [32]:
df_test = pd.read_csv('test_acc_v_hyperparams.csv')

In [35]:
df_test['test_acc'][0]

'[  nan   nan 89.11]'

In [15]:
test_acc = df['test_acc'].values

In [19]:
test_acc = [
    [np.nan, np.nan, 89.11],
    [89.51, 90.03],
    [73.8],
    [np.nan, 78.07],
    [91.95],
    [93.97],
]

In [21]:
test_acc = [np.asarray(arr) for arr in test_acc]

In [36]:
df['test_acc'].values

array([array([  nan,   nan, 89.11]), array([89.51, 90.03]), array([73.8]),
       array([  nan, 78.07]), array([91.95]), array([93.97])],
      dtype=object)

In [31]:
df.to_csv('test_acc_v_hyperparams.csv', index=False)

In [37]:
df

                                 config     lr   std           test_acc
0  RAM_config_2019-04-20-2317-MNIST.ini  0.010  0.50  [nan, nan, 89.11]
1  RAM_config_2019-04-21-1925-MNIST.ini  0.001  0.15     [89.51, 90.03]
2  RAM_config_2019-04-20-2315-MNIST.ini  0.001  1.00             [73.8]
3  RAM_config_2019-04-20-1549-MNIST.ini  0.001  0.50       [nan, 78.07]
4  RAM_config_2019-04-22-1519-MNIST.ini  0.010  0.10            [91.95]
5  RAM_config_2019-04-22-1724-MNIST.ini  0.010  0.20            [93.97]

In [41]:
rows = []
for tup in df.itertuples():
    print(tup)
    for test_acc_val in tup.test_acc:
        row = {'config': tup.config, 'lr': tup.lr, 'std': tup.std, 'test_acc': test_acc_val}
        rows.append(row)

Pandas(Index=0, config='RAM_config_2019-04-20-2317-MNIST.ini', lr=0.01, std=0.5, test_acc=array([  nan,   nan, 89.11]))
Pandas(Index=1, config='RAM_config_2019-04-21-1925-MNIST.ini', lr=0.001, std=0.15, test_acc=array([89.51, 90.03]))
Pandas(Index=2, config='RAM_config_2019-04-20-2315-MNIST.ini', lr=0.001, std=1.0, test_acc=array([73.8]))
Pandas(Index=3, config='RAM_config_2019-04-20-1549-MNIST.ini', lr=0.001, std=0.5, test_acc=array([  nan, 78.07]))
Pandas(Index=4, config='RAM_config_2019-04-22-1519-MNIST.ini', lr=0.01, std=0.1, test_acc=array([91.95]))
Pandas(Index=5, config='RAM_config_2019-04-22-1724-MNIST.ini', lr=0.01, std=0.2, test_acc=array([93.97]))

In [44]:
df_rows = pd.DataFrame.from_dict(rows)

In [47]:
df_rows.sort_values('test_acc', ascending=False)

                                 config     lr   std  test_acc
9  RAM_config_2019-04-22-1724-MNIST.ini  0.010  0.20     93.97
8  RAM_config_2019-04-22-1519-MNIST.ini  0.010  0.10     91.95
4  RAM_config_2019-04-21-1925-MNIST.ini  0.001  0.15     90.03
3  RAM_config_2019-04-21-1925-MNIST.ini  0.001  0.15     89.51
2  RAM_config_2019-04-20-2317-MNIST.ini  0.010  0.50     89.11
7  RAM_config_2019-04-20-1549-MNIST.ini  0.001  0.50     78.07
5  RAM_config_2019-04-20-2315-MNIST.ini  0.001  1.00     73.80
0  RAM_config_2019-04-20-2317-MNIST.ini  0.010  0.50       NaN
1  RAM_config_2019-04-20-2317-MNIST.ini  0.010  0.50       NaN
6  RAM_config_2019-04-20-1549-MNIST.ini  0.001  0.50       NaN

In [48]:
df_rows_copy = df_rows.copy(deep=True)

In [50]:
df_rows.columns = ['config', 'learning rate', 'standard deviation', 'accuracy (test)']

In [55]:
df_rows[['learning rate', 'standard deviation', 'accuracy (test)']].sort_values('accuracy (test)', ascending=False)

   learning rate  standard deviation  accuracy (test)
9          0.010                0.20            93.97
8          0.010                0.10            91.95
4          0.001                0.15            90.03
3          0.001                0.15            89.51
2          0.010                0.50            89.11
7          0.001                0.50            78.07
5          0.001                1.00            73.80
0          0.010                0.50              NaN
1          0.010                0.50              NaN
6          0.001                0.50              NaN